@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneli</h2>
<ul>
    <li><a href="/Urun/Create ">Ürün Ekle</a></li>
    <li><a href="/Urun/Index">Ürünleri Yönet</a></li>
    <!-- İstersen başka admin işlemleri de ekleyebilirsin -->
</ul>